# Editor directories and files
.idea/
out/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Node.js
node_modules/
dist/
dist-ssr/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnrc
.yarn
.pnp*

# Other
*.local
.env*
