# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
out/
*.iml
*.ipr
*.iws

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnrc
.yarn
.pnp.*
.pnp.js
